colorama==0.4.6 ; sys_platform == "win32" and python_full_version == "3.8.10"
coverage==7.2.2 ; python_full_version == "3.8.10"
exceptiongroup==1.1.1 ; python_full_version == "3.8.10"
iniconfig==2.0.0 ; python_full_version == "3.8.10"
pluggy==1.0.0 ; python_full_version == "3.8.10"
pytest-cov==2.5.1 ; python_full_version == "3.8.10"
pytest==7.2.2 ; python_full_version == "3.8.10"
tomli==2.0.1 ; python_full_version == "3.8.10"
